@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Righteous&display=swap');

*{
    box-sizing: border-box;
    font-family: "quicksand";
    margin: 0;
    padding: 0;
}